# Connection information on how to connect to the migration DB
[db]
host=localhost
name=nova
user=nova
password=secret

# Connection information on how to connect to your nova DB
[nova_db]
host=localhost
name=nova
user=nova
password=secret

# Blocks must start with network_
[network_public]
neutron_net_id = XXX-XXX-XXX-XXX
nova_name = public
device = eth1
bridge = br100

# If you have a second network uncomment and modify accordingly
#[network_private]
#neutron_net_id = XXX-XXX-XXX-XXX
#nova_name = private
#device = eth2
#bridge = br50
