[db]
host=localhost
name=nova
user=nova
password=secret

[network_public]
neutron_net_id = XXX-XXX-XXX-XXX
nova_name = public
device = eth1
bridge = br100

[network_private]
neutron_net_id = XXX-XXX-XXX-XXX
nova_name = private
device = eth2
bridge = br50
