[db]
host=localhost
name=nova
user=nova
password=secret

[nova_db]
host=localhost
name=nova
user=nova
password=secret

[neutron_db]
host=localhost
name=neutron
user=neutron
password=secret

[network_nova:public]
zone=nova
name=public
physnet=public
cidr_v4=192.168.1.0/24
gateway_v4=192.168.1.1
dhcp_start=192.168.1.20
dhcp_end=192.168.1.200
dns_servers=192.168.254.254,192.168.254.253
[network_nova:private]
zone=nova
name=private
physnet=external
cidr_v4=10.1.1.0/24
gateway_v4=10.1.1.1
dhcp_start=10.1.1.2
dhcp_end=10.1.1.254
dns_servers=192.168.254.254,192.168.254.253
